.chatRoom {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  height: calc(100vh - 70.4px);
  /* background-color: antiquewhite; */
}

.roomContainer {
  height: 100%;
  width: 80%;
  padding: 15px;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feeds > hr {
  border: 1px solid #262626;
  border-radius: 30px;
  width: 60%;
  margin: 30px 0;
}
.tabs {
  width: 68%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.tab {
  background: #1d1d1d;
  color: white;
  padding: 8px 12px;
  margin-left: 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.tab:hover {
  background: #0077ff;
  color: #1d1d1d;
}

.selected {
  background: #0077ff;
  color: #1d1d1d;
}

.createPost {
  width: 60%;
  display: flex;
  align-items: center;
}

.postButton {
  width: 100%;
  margin-top: 20px;
}

.postButton > button {
  position: relative;
  right: -135px;
}

.warning {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;
  width: 60%;
  color: rgb(199, 74, 74);
  margin-top: 20px;
}

.warning > span {
  margin-left: 10px;
  font-weight: 500;
  font-size: small;
}

.warning > button {
  font-size: small;
  font-weight: 500;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0077ff;
  padding: 15px 0px;
  border-radius: 40px;
  font-size: 1.5rem;
}

.userHeader {
  width: fit-content;
  position: relative;
  left: 30px;
  color: white;
}

.header > h4 {
  font-weight: 600;
  position: relative;
  right: 30px;
}

.addWalletContainer {
  /* background-color: #1d1d1d; */
  width: 100%;
  margin-top: 45px;
}

.addWalletInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 10px 0;
}

.addWalletContainer > h3 {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.addMoney {
  margin: 0 15px;
  padding: 14px 22px;
}

.searchInput {
  font-size: 1.1rem;
}

.transactionHistoryContainer {
  width: 100%;
  margin-top: 50px;
}

.transactionHistoryContainer > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 15px;
}

.transactionHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-height: 300px;
  overflow: auto;
}

.amount {
  margin-right: 15px;
  font-weight: bold;
}

.amount > span {
  font-weight: 400;
}
