.chatCard {
  background: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  width: 200px;
  margin: 10px;
}

.sender {
  border-radius: 20px 20px 0px 20px;
}

.reciever {
  border-radius: 0px 20px 20px 20px;
}
