.chatCard {
  background: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  width: fit-content;
  margin: 5px 10px;
}

.chatCardContainer {
  width: 100%;
}

.senderCard {
  border-radius: 20px 20px 20px 20px;
  background: #5a5757;
  right: 10px;
}

.recieverCard {
  border-radius: 20px 20px 20px 0px;
  left: 10px;
}
